@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.welcome h1 {
    font-family: 'Montserrat';
    font-size: '50px';
    font-weight: 500;      
    color: coral;
    text-align: center;
    text-shadow: 2px 2px black;
}